<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="accordion accordion-flush m-3" id="accordionFlushExample" th:fragment="document_render(group)">

    <div class="text-center">
        <div class="editable_wrapper" style="padding: 10px">
            <span class="h2" style="font-size: 35px" th:text="${group.title}" ></span>

            <img th:src="@{/img/pencil.svg}" th:groupId="${group.id}"  sec:authorize="hasAuthority('ADMIN')" class="editable" width="22" height="22" onclick="
                         new PostRequestFormBuilder()
                             .param({label:'Змінити назву', name: 'title', oldValue: this.parentNode.getElementsByTagName('span')[0].innerHTML})
                             .setUrl('/documentGroup/'+ this.getAttribute('groupId') +'/update')
                             .submitBtn('Змінити')
                             .init()
                             .build()
                         ">

        </div>
        <div class="text-end" sec:authorize="hasAuthority('ADMIN')">
            <button class="btn btn-success me-2 ms-2 admin-btn" th:groupId="${group.id}" onclick="new PostRequestFormBuilder()
                             .param({label:'Назва підгрупи', name:'subGroupTitle'})
                             .pathParam('groupId', this.getAttribute('groupId'))
                             .setUrl('/subGroup/new')
                             .submitBtn('Створити')
                             .init()
                             .build()
                         ">Нова підгрупа
            </button>

        </div>
    </div>

    <div class="accordion-item"  th:each="sub_group : ${group.getSubGroups()}" th:inline="text">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#flush-collapse' + ${sub_group.id}" aria-expanded="false" th:aria-controls="'flush-collapse' + ${sub_group.id}" >
                <div class="editable_wrapper" >
                    <span class="h2" style="font-size: 30px" th:text="${sub_group.title}" ></span>

                    <img th:src="@{/img/pencil.svg}" th:groupId="${sub_group.id}"  sec:authorize="hasAuthority('ADMIN')" class="editable" width="22" height="22" onclick="
                         new PostRequestFormBuilder()
                             .param({label:'Змінити назву підгрупи', name:'title', oldValue: this.parentNode.getElementsByTagName('span')[0].innerHTML})
                             .pathParam('subGroupId', this.getAttribute('groupId'))
                             .setUrl('/subGroup/update')
                             .submitBtn('Змінити')
                             .init()
                             .build()
                         ">

                </div>
            </button>
        </h2>
        <div th:id="'flush-collapse' + ${sub_group.id}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <ol class="position-relative">
                    <li class="li-doc links"  th:each="document : ${sub_group.documents}">
                        <div th:if="${#strings.contains(document.document_filename,'zip')}" >
                            <img th:src="@{/img/documents_formats/zip.png}" width="50" height="50" alt="Документ">

                            <span class="filename"  th:filename="${document.document_filename}" onclick="
                                unzipAndPrintAsList(
                                    this.parentElement,
                                    this.getAttribute('filename')
                                    )"
                                  th:text="${document.document_filename}"  aria-placeholder="Розпакувати архів">
                            </span>

                            <a th:href="@{'/upload/document/' + ${document.document_filename}}" title="Завантажити файл">
                                <img th:src="@{/img/download.png}" class="download-icon" alt="Завантажити">
                            </a>
                        </div>

                        <div th:unless="${#strings.contains(document.document_filename,'zip')}">
                            <img th:src="@{/img/documents_formats/word.svg}" width="50" height="50" th:if="${#strings.contains(document.document_filename, '.docx')}" alt="Документ">
                            <img th:src="@{/img/documents_formats/exel.svg}" width="50" height="50" th:if="${#strings.contains(document.document_filename, '.xlsx')}" alt="Документ">
                            <img th:src="@{/img/documents_formats/pdf.png}" width="50" height="50" th:if="${#strings.contains(document.document_filename, '.pdf')}" alt="Документ">
                            <img th:src="@{/img/documents_formats/some_document.svg}" width="50" height="50" th:if="${#strings.contains(document.document_filename, '.xlsx') == false and #strings.contains(document.document_filename, '.docx') == false and #strings.contains(document.document_filename, '.pdf') == false} " alt="Документ">
                            <a th:href="@{/document/view(
                                documentId=${document.id},
                                groupId=${group.id},
                                subGroupId=${sub_group.id})}
                                " th:text="${document.title}" class="filename">Title
                            </a>
                            <a th:href="@{'/upload/document/' +  ${document.document_filename}}" style="text-decoration: none">
                                <img th:src="@{/img/download.png}" class="download-icon" alt="Завантажити">
                            </a>
                        </div>

                        <div sec:authorize="hasAuthority('ADMIN')"  >
                            <button class="btn btn-info p-1 admin-btn" th:filename="${document.document_filename}" onclick="
                                    new PostRequestFormBuilder()
                                     .param({label: 'Нова назва документу', name:'title'})
                                     .param({label: '', name: 'file', type: 'file'})
                                     .pathParam('filename', this.getAttribute('filename'))
                                     .setUrl('/document/update')
                                     .submitBtn('Змінити')
                                     .init()
                                     .build()
                                    ">Оновити
                            </button>


                            <button class="btn btn-danger p-1 admin-btn" th:filename="${document.document_filename}" onclick="
                                    new GetRequestBuilder()
                                     .submitText('Ви впевненні що хочете видалити документ: \'' + this.getAttribute('filename') + '\'?')
                                     .param('filename', this.getAttribute('filename'))
                                     .url('/document/delete')
                                     .submitBtn('Так, видалити')
                                     .init()
                                     .build()
                                    ">Видалити
                            </button>


                        </div>
                    </li>
                    <h3 th:if="${sub_group.documents.isEmpty()}" style="font-size: 35px">Документи ще не додані</h3>
                </ol>

                <div class="text-end"  sec:authorize="hasAuthority('ADMIN')"  >
                    <!-- add document button-->
                    <button class="btn btn-success p-1 admin-btn"  th:subGroupId="${sub_group.id}"  onclick="
                                    new PostRequestFormBuilder()
                                     .param({label: 'Назва документу', name:'title'})
                                     .param({label: 'Файл', name: 'file', type: 'file'})
                                     .pathParam('subGroupId', this.getAttribute('subGroupId'))
                                     .setUrl('/document/new')
                                     .submitBtn('Додати')
                                     .init()
                                     .build()
                                    ">Додати документ
                    </button>

                    <!-- delete subgroup button-->
                    <button class="btn btn-danger p-1 admin-btn" th:subGroupId="${sub_group.id}" th:title="${sub_group.title}" onclick="
                                    new GetRequestBuilder()
                                     .submitText('Ви впевнені що хочете видалити підгрупу: \'' + this.getAttribute('title') + '\'?')
                                     .param('id', this.getAttribute('subGroupId'))
                                     .url('/subGroup/delete')
                                     .submitBtn('Так, видалити')
                                     .init()
                                     .build()
                                    ">Видалити підгрупу
                    </button>

                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center" th:if="${group.getSubGroups().isEmpty()}">Документи ще не додані</h3>
</div>


</body>
</html>