
<div class="container mt-5 mb-2" th:fragment="header">
    <div id="head_wrapper">
        <div style="text-align: center;">
            <a th:href="@{/}">
                <img th:src="@{/img/main-icon.svg}" id="main_icon" alt="Герб">
            </a>
        </div>
        <div id="main-title-wrapper">
            <a th:href="@{/}" class="text-center" id="main-title">Милівська сільська територіальна громада</a>
        </div>
        <div id="nav-wrapper" style="grid-column-end: 3; grid-column-start: 1;" class="text-center" >

            <a href="/news/all" class="dropdown dropbtn nav-item" >Новини</a>

            <div class="dropdown ">
                <button class="dropbtn nav-item">Управління</button>
                <div class="dropdown-content">
                    <a href="/administration">Керівництво</a>
                    <a href="http://miloverada.gov.ua/institution/n/group/11">Депутати по округах</a>
                    <a href="http://miloverada.gov.ua/institution/n/group/12">Постійні комісії</a>
                </div>
            </div>

            <a href="/контакти" class="dropdown dropbtn nav-item" >Контакти</a>

            <a href="/about" class="dropdown dropbtn nav-item" >Про громаду</a>
            <div class="dropdown">
                <button class="dropbtn nav-item">Установи</button>
                <div class="dropdown-content">
                    <a href="/institution/військова адміністрація">Військова адміністрація</a>
                    <a href="/institution/центр надання адміністративних послуг">ЦНАП</a>
                    <a href="/institution/фінансовий відділ">Фінансовий відділ</a>
                    <a href="/institution/медицина">Медицина</a>
                    <a href="/institution/культура">Культура</a>
                    <a href="/institution/освіта">Освіта</a>
                </div>
            </div>
        </div>
    </div>
</div>
