<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5" id="head" th:fragment="header">
    <h1 class="text-center" style="font-size: 38px;">Милівська сільська територіальна громада</h1>
    <div class="p-1 text-center" id="head_nav" >

        <a href="/" class="dropdown dropbtn" >Головна</a>
        <a href="/новини" class="dropdown dropbtn" >Новини</a>

        <div class="dropdown">
            <button class="dropbtn">Управління</button>
            <div class="dropdown-content">
                <a href="/administration">Керівництво</a>
                <a href="/депутати по округах">Депутати по округах</a>
                <a href="/upload/document/%D0%94%D0%BE%D0%B4%D0%B0%D1%82%D0%BE%D0%BA%D0%B8%20%D0%BF%D0%BE%20%D1%81%D0%BE%D1%86%D0%B5%D0%BA%D0%BE%D0%BD%D0%BE%D0%BC%202023%20(1)%20(2).doc">Постійні комісії</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Установи</button>
            <div class="dropdown-content">
                <a href="/установа/військова адміністрація">Військова адміністрація</a>
                <a href="/установа/центр надання адміністративних послуг">ЦНАП</a>
                <a href="/установа/фінансовий відділ">Фінансовий відділ</a>
                <a href="/установа/медицина">Медицина</a>
                <a href="/установа/культура">Культура</a>
                <a href="/установа/освіта">Освіта</a>
            </div>
        </div>

        <a href="" class="dropdown dropbtn" >Про громаду</a>
        <a href="/контакти" class="dropdown dropbtn" >Контакти</a>
    </div>
</div>


</body>
</html>