<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5" id="head" th:fragment="header">
    <h1 class="text-center" style="font-size: 38px;">Милівська сільська об'єднана територіальна громада</h1>
    <div class="p-1 text-center" id="head_nav" >

        <a href="/" class="dropdown dropbtn" >Головна</a>
        <a href="/новини" class="dropdown dropbtn" >Новини</a>

        <div class="dropdown">
            <button class="dropbtn">Управління</button>
            <div class="dropdown-content">
                <a href="/управління">Керівництво</a>
                <a href="#">Депутати</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Установи</button>
            <div class="dropdown-content">
                <a href="/установа/військова адміністрація">Воєнна адміністрація</a>
                <a href="/установа/центр надання адміністративних послуг">ЦНАП</a>
                <a href="/установа/медицина">Медицина</a>
                <a href="/установа/культура">Культура</a>
            </div>
        </div>

        <a href="" class="dropdown dropbtn" >Про громаду</a>
        <a href="" class="dropdown dropbtn" >Контакти</a>
    </div>
</div>


</body>
</html>