<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/basic-head.html :: basic-head}"></head>
<link rel="stylesheet" th:href="@{/styles/notifications.css}">
<title th:replace="~{fragments/common.html :: generic-title}"></title>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.8.2/tinymce.min.js" integrity="sha512-laacsEF5jvAJew9boBITeLkwD47dpMnERAtn4WCzWu/Pur9IkF0ZpVTcWRT/FUCaaf7ZwyzMY5c9vCcbAAuAbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="wrapper">
    <div th:replace="~{fragments/header.html :: header}"></div>

    <div class="content container" >
        <h4 class="text-center mt-3" style="font-size: 35px;" >Контакти</h4>
        <div class="container">
                <pre><table class="table" style="background-color: white; font-size: 23px;">
                      <thead class="table-head table-striped" style="background-color: #0f2f5c; font-family: 'Gabriola'; color: white" >
                        <tr class="tr">
                            <th>Посада</th>
                            <th>Ім'я</th>
                            <th>Прізвище</th>
                            <th>Телефон</th>
                            <th>Електронна пошта</th>
                            <th  sec:authorize="hasAuthority('ADMIN')"></th>
                        </tr>
                        </thead>
                        <tbody  style="font-family: serif; font-size: 18px">
                        <tr th:each="employee : ${employee_list}"   >
                            <td class="position" th:text="${employee.position}"></td>
                            <td class="first_name" th:text="${employee.first_name}"></td>
                            <td class="last_name" th:text="${employee.last_name}"></td>
                            <td class="phone_number" th:text="${employee.phone_number}"></td>
                            <td class="email" th:text="${employee.email}"></td>

                            <td  sec:authorize="hasAuthority('ADMIN')" style="display: flex">
                                <button th:employeeId="${employee.id}" class="btn btn-danger" style="width: 100px; height: 50px; margin-right: 3px"   onclick="
                                              new GetRequestBuilder()
                                                 .submitText('Ви впевненні що хочете видалити запис?')
                                                 .param('id', this.getAttribute('employeeId'))
                                                 .url('/contacts/delete')
                                                 .submitBtn('Так, видалити')
                                                 .init()
                                                 .build()
                                                ">Видалити
                                </button>

                                <button th:employeeId="${employee.id}" style="width: 100px; height: 50px"   class="btn btn-info"  onclick="
                                               new PostRequestFormBuilder()
                                                 .param({label: 'Посада', name: 'position', oldValue: this.parentNode.parentNode.getElementsByClassName('position')[0].innerHTML})
                                                 .param({label: 'Ім\'я', name: 'first_name', oldValue: this.parentNode.parentNode.getElementsByClassName('first_name')[0].innerHTML})
                                                 .param({label: 'Прізвище', name: 'last_name', oldValue: this.parentNode.parentNode.getElementsByClassName('last_name')[0].innerHTML})
                                                 .param({label: 'Робочий телефон', name: 'phone_number', oldValue: this.parentNode.parentNode.getElementsByClassName('phone_number')[0].innerHTML, isRequired: false})
                                                 .param({label: 'Електронна пошта', name: 'email', oldValue: this.parentNode.parentNode.getElementsByClassName('email')[0].innerHTML, isRequired: false, type: 'email'})

                                                 .pathParam('id', this.getAttribute('employeeId'))
                                                 .setUrl('/contacts/update')
                                                 .submitBtn('Оновити')
                                                 .init()
                                                 .build()
                                                ">Оновити
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table></pre>

            <button th:employeeId="${employee.id}" class="btn btn-success mb-3 admin-btn" sec:authorize="hasAuthority('ADMIN')" onclick="
                                new PostRequestFormBuilder()
                                                 .param({label: 'Посада', name: 'position'})
                                                 .param({label: 'Ім\'я', name: 'first_name'})
                                                 .param({label: 'Прізвище', name: 'last_name'})
                                                 .param({label: 'Робочий телефон', name: 'phone_number', isRequired: false})
                                                 .param({label: 'Електронна пошта', name: 'email', type: 'email', isRequired: false})
                                                 .setUrl('/contacts/new')
                                                 .submitBtn('Додати')
                                                 .init()
                                                 .build()
                                                ">Додати запис
            </button>
        </div>
    </div>

    <style>
        .tr th {
            font-weight: normal;
        }
    </style>

    <div th:replace="~{fragments/footer.html :: footer}"></div>
</div>

<script th:src="@{/scripts/requests.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>