<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{fragments/basic-head.html :: basic-head}"></head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Милівська ОТГ</title>
<body>

    <div class="wrapper">
        <div th:replace="~{fragments/header.html :: header}"></div>

        <div class="content container">
            <nav aria-label="breadcrumb" class="mt-2 ms-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <a th:href="@{/}" class="link h5" style="margin: 0; display: inline" >Головна</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a th:href="${previousPageUrl}" class="link h5" style="margin: 0; display: inline" th:text="${previousPageTitle}"></a>
                    </li>
                    <li class="breadcrumb-item active h5" aria-current="page" th:text="${subGroupTitle}"></li>
                    <li class="breadcrumb-item h5" aria-current="page" th:text="${document.title}"></li>
                </ol>
            </nav>

            <div class="container" >
                <iframe style="display: block; width: 100%; height: 800px;"  th:src="'https://docs.google.com/gview?embedded=true&url=http://miloverada.gov.ua/upload/document/' + ${document.document_filename}"></iframe>
            </div>
            <div>
                <a  class="m-3 h2 link" th:href="@{'/upload/document/' + ${document.document_filename}}">
                    <i class="bi bi-download download"></i>
                     Завантажити
                </a>
            </div>
        </div>
        <div th:replace="~{fragments/footer.html :: footer}"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>