<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/main-head.css}">
    <link rel="stylesheet" th:href="@{/styles/group.css}">
    <link rel="stylesheet" th:href="@{/styles/notifications.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <meta charset="UTF-8">
    <title>Милівська ОТГ</title>
    </head>
<body>

<!--todo create thymeleaf tags to terminate boilerplate code-->
<!--notifications -->
<div class="col-sm-12 notification animateOpen" id="notificationSuccess"  style="background-color: rgba(250, 235, 215, 0); display: none;" >
    <div class="alert  fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
        <i class="bi bi-bookmark-check-fill h3"></i>
        <span class="h5" id="notificationValueSuccess"></span>
    </div>
</div>

<div class="col-sm-12 notification animateOpen" id="notificationError"  style="background-color: rgba(250, 235, 215, 0); display: none;" >
    <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
        <i class="bi bi-x-circle h3" ></i>
        <span class="h5" id="notificationValueError"></span>
    </div>
</div>
<!--notifications-->

<!--forms-->
<div id="new-sub-group" class="form" style="display: none;">
    <div class="d-flex align-items-center justify-content-center " style="height: 600px; ">
        <form th:action="@{'/group/'+ ${group.id} + '/sub-group/new'}" th:method="post" class="h1">
            <div class="text-end">
                <button type="button" class="btn-close" onclick="disableForm('new-sub-group')" aria-label="Close"></button>
            </div>

            <label for="name1" class="form-label">Назва підгрупи</label>
            <input type="text" class="form-control" id="name1" name="title">
            <input type="submit" value="Створити нову підгрупу" class="btn btn-success mt-2">
        </form>
    </div>
</div>

<div id="confirm-form" class="form" style="display: none;">
    <div class="d-flex align-items-center justify-content-center m-5" style="height: 600px; ">
        <div class="h1">
            <div class="text-end">
                <button type="button" class="btn-close" onclick="disableForm('confirm-form')" aria-label="Close"></button>
            </div>

            <!--message-->
            <h2 id="confirm-form-message"></h2>
            <button class="btn btn-danger mt-2" id="confirm-operation-btn" onclick="" ></button> <!--confirm operation-->
        </div>
    </div>
</div>

<div id="update-document" class="form" style="display: none;">
    <div class="d-flex align-items-center justify-content-center " style="height: 600px; ">
        <div class="h1">
            <div class="text-end">
                <button type="button" class="btn-close" onclick="disableForm('update-document')" aria-label="Close"></button>
            </div>

            <label for="new-document-title" class="form-label">Нова назва документу</label>
            <input type="text" class="form-control" id="new-document-title" name="title">
            <label for="new-document-file" class="form-label">Новий документ</label>
            <input type="file" id="new-document-file" class="form-control" name="file" >
            <button class="btn btn-info mt-2" id="new-document-confirm-operation-btn" onclick="" >Оновити</button>
        </div>
    </div>
</div>


<!--forms-->

    <div class="wrapper">
        <div class="container head mt-5">
            <h1 class="text-center text-dark" style="font-size: 38px;">Милівська сільська об'єднана територіальна громада</h1>
            <a href="/" style="width: 150px;">
                <img th:src="@{/img/tryzub6.svg}" width="150" height="150" alt="" id="icon" style="position: relative; bottom: 15px; ">
            </a>
            <div class="p-1 text-center" id="head_nav">
                <div class="dropdown">
                    <button class="dropbtn">Новини</button>
                  </div>
                  
                  <div class="dropdown">
                    <button class="dropbtn">Рішення громади</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 243</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>

                  <div class="dropdown">
                    <button class="dropbtn">Бюджет</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
     
                  <div class="dropdown">
                    <button class="dropbtn">Податки та збори</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 243</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>

                  <div class="dropdown">
                    <button class="dropbtn">Громада</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
                  
                  <div class="dropdown">
                    <button class="dropbtn">Контакти</button>
                  </div>
            </div>
            
        </div>

        <div class="content container" style="background-color: rgba(219, 217, 217, 0.911); padding: 0;">
            <div class="row ">
                <nav class="h5 col-sm-2 text-dark ms-3 mt-2 " id="nav">
                    <a href="">Звіт сільського голови</a>
                    <a href="">Відділ ЦНАП</a>
                    <a href="">Інфраструктура та благоустрій</a>
                </nav>
                
                <div class="col h4" style="max-width: 700px;"> 
                  <div class="text-center mt-3">
                    <h1 th:text="${group.title}">
                      Звіт сільського голови
                    </h1>
                      <div class="text-end">
                          <!-- add subgroup button-->
                          <button class="btn btn-success mb-2 me-2" onclick="enableForm('new-sub-group')"  >Додати підгрупу</button>
                      </div>
                  </div>
                    <div class="accordion accordion-flush" id="accordionFlushExample">

                        <div class="accordion-item" th:each="sub_group : ${sub_groups}" th:inline="text">

                            <h2 class="accordion-header" id="flush-headingOne">
                                <button th:text="${sub_group.title}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#flush-collapse' + ${sub_group.id}" aria-expanded="false" th:aria-controls="'flush-collapse' + ${sub_group.id}">
                                    Title
                                </button>
                            </h2>
                            <div th:id="'flush-collapse' + ${sub_group.id}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">

                                    <ol class="position-relative">
                                        <li class="li-doc links" th:each="document : ${sub_group.documents}">
                                            <a th:href="@{'/group/'+ ${group.id} + '/sub-group/' + ${sub_group.id} + '/new'}" th:text="${document.title}">Title</a>
                                            <a th:href="@{'/upload/document/' + ${document.document_filename}}">
                                                <i class="bi bi-download download"></i>
                                            </a>
                                            <button class="btn btn-info p-1" style="font-size: 14px;" th:onclick="@{'enableFormAndUpdateDocument(\'/group/' + ${group.id} + '/document/' + ${document.document_filename} + '/update\',\'/group/' + ${group.id} + '\')'}">Оновити</button>
                                            <button class="delete-document btn btn-danger p-1" style="font-size: 14px;" th:onclick="@{'enableFormAndDoGetRequest(\'Ви впевненні що хочете видалити документ\',\'Так видалити\',\'/group/document/' + ${document.document_filename} + '/delete\',\'null\')'}">Видалити</button>
                                        </li>
                                        <h1 th:if="${sub_group.documents.isEmpty()}">Документи ще не додані</h1>
                                    </ol>

                                    <form th:id="'new-document' + ${sub_group.id}" style="display: none" th:action="@{'/group/' + ${group.id} + '/sub-group/' + ${sub_group.id} + '/document/new'}" th:method="post" class="h1" enctype="multipart/form-data">
                                        <div class="text-end">
                                            <button type="button" class="btn-close" th:onclick="'disableBtn(\'new-document' + ${sub_group.id} + '\')'" aria-label="Close"></button>
                                        </div>

                                        <label for="name" class="form-label">Назва документу</label>
                                        <input type="text" class="form-control" id="name" name="title">
                                        <label for="input-file" class="form-label">Завантаження документу</label>
                                        <input type="file" id="input-file" class="form-control" name="file" >
                                        <input type="submit" value="Додати документ" class="btn btn-success mt-2">
                                    </form>

                                    <div class="text-end">
                                        <!-- add document button-->
                                        <button class="btn btn-success mt-5" th:id="'btn-new-document' + ${sub_group.id}" th:onclick="'enableDocumentForm(\'new-document' + ${sub_group.id} + '\')'" >Додати документ</button>

                                        <!-- delete subgroup button-->
                                        <button class="btn btn-danger mt-5" th:onclick="'enableFormAndDoGetRequest(\'Ви впевнені що хочете видалити підгрупу\',\'Так, видалити\',\'/group/sub-group/' + ${sub_group.id} + '/delete' + '\',\'null\')'" >Видалити підгрупу</button>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <h1 th:if="${sub_groups.isEmpty()}">Документи ще не додані</h1>
                    </div>
                    <!-- delete group button -->
                    <button class="btn btn-danger mt-2 ms-2" th:onclick="'enableFormAndDoGetRequest(\'Ви впевнені що хочете видалити дгрупу\',\'Так, видалити\',\'/group/' + ${group.id} + '/delete' + '\',\'/\')'" style="color: azure; width: 170px; height: 40px; ">Видалити групу</button>
                </div>

            </div>

        </div>

        <footer class="footer p-3 text-info mt-5">
            <h1>footer</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quasi obcaecati sed nobis aut cupiditate officia molestias deserunt vel beatae. Aspernatur quo voluptates fugiat, deleniti in suscipit. Assumenda, itaque nisi?</p>
        </footer>
      
    </div>

    <script th:src="@{/scripts/documentService.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>