<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/basic-head.html :: basic-head}"></head>
    <link rel="stylesheet" th:href="@{/styles/notifications.css}">
    <link rel="stylesheet" th:href="@{/styles/group.css}">
    <link rel="stylesheet" th:href="@{/styles/document.css}">
    <title>Милівська ОТГ</title>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.8.2/tinymce.min.js" integrity="sha512-laacsEF5jvAJew9boBITeLkwD47dpMnERAtn4WCzWu/Pur9IkF0ZpVTcWRT/FUCaaf7ZwyzMY5c9vCcbAAuAbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    #file-label, #file {display: none;}
</style>

<div th:replace="~{fragments/notification.html :: notifications}"></div>
<div th:replace="~{fragments/forms.html :: confirm-form}"></div>
<div th:replace="~{fragments/forms.html :: employee-form}"></div>
<div th:replace="~{fragments/forms.html :: formWithOneInput}"></div>
<div th:replace="~{fragments/forms.html :: confirm-form}"></div>
<div th:replace="~{fragments/forms.html :: document}"></div>

<div class="wrapper">
    <div th:replace="~{fragments/header.html :: header}"></div>

    <div class="content container" >
        <div class="row ">
            <div class="col">
                <div>
                    <div   class="text-center" style="padding: 10px">
                        <span th:text="${institution.title}" class="h2 inst-title"></span>
<!--                        <img sec:authorize="hasAuthority('ADMIN')"  th:src="@{/img/pencil.svg}" id="edit_icon" width="22" height="22"  th:onclick="'enableFormAndDoPostRequest(\'Змінити\',\'/institution/' + ${institution.id} + '/update\',\'Новий заголовок\')'" style="display: none;" alt="">-->
                    </div>
                    <div class="p-3">
                        <pre>
                            <table class="table">
                                <thead class="table-head">
                                    <tr>
                                        <th>Установа</th>
                                        <th>Посада</th>
                                        <th>Ім'я</th>
                                        <th>Прізвище</th>
                                        <th>Телефон</th>
                                        <th>Робочий email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="employee : ${employee_list}" >
                                        <th th:text="${employee.sub_institution}"></th>
                                        <th th:text="${employee.position}"></th>
                                        <th th:text="${employee.first_name}"></th>
                                        <th th:text="${employee.last_name}"></th>
                                        <th th:text="${employee.phone_number}"></th>
                                        <th th:text="${employee.email}"></th>
                                        <th sec:authorize="hasAuthority('ADMIN')" ><button class="btn btn-danger"  th:onclick="'enableFormAndDoGetRequest(\'Ви впевненні що хочете видалити запис\',\'Так, видалити\',\'/установа/employee/' + ${employee.id} + '/delete\',\'null\')'">Видалити запис</button></th>
                                        <th sec:authorize="hasAuthority('ADMIN')" ><button class="btn btn-info" th:onclick="'enableFormAndInjectAction(\'/установа/employee/' + ${employee.id} + '/update\', \'Оновити\')'">Оновити запис</button></th>
                                    </tr>
                                </tbody>
                            </table>
                        </pre>
                        <button class="btn btn-success mb-3" sec:authorize="hasAuthority('ADMIN')"  th:onclick="'enableFormAndInjectAction(\'/установа/' + ${institution.id} + '/employee/new\', \'Додати\')'">Додати запис</button>
                    </div>
                    <div class="text-end">
                        <!-- add subgroup button-->
                        <button class="btn btn-success mb-2 me-2" sec:authorize="hasAuthority('ADMIN')"  th:onclick="'enableFormAndDoPostRequest(\'Створити нову підгрупу\', \'/institution/n/group/'+ ${institution.document_group.id} + '/sub-group/new\',  \'Назва підгрупи\')'" >Додати підгрупу</button>
                    </div>
                    <div class="text-center p-4" th:unless="${institution.getDocument_group().getSubGroups().isEmpty()}" id="wrapper">
                        <div id="edit_icon_wrapper"  style="padding: 10px">
                            <span id="element" th:text="${institution.getDocument_group().title}" class="h2"></span>
                            <img th:src="@{/img/pencil.svg}" sec:authorize="hasAuthority('ADMIN')" id="edit_icon" width="22" height="22" th:onclick="'enableFormAndDoPostRequest(\'Змінити\',\'/institution/n/group/' + ${institution.getDocument_group().id} + '/update\',\'Новий заголовок\')'" style="display: none;" alt="">
                        </div>
                    </div>
                    <div th:replace="~{fragments/documents_render.html :: document_render(${institution.getDocument_group()})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer.html :: footer}"></div>
</div>

<script th:src="@{/scripts/documentService.js}"></script>
<script th:src="@{/scripts/employeeService.js}"></script>
<script th:src="@{/scripts/requests.js}"></script>
<script th:src="@{/scripts/editText.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>