<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Вхід</title>
  <link rel="stylesheet" th:href="@{/styles/login.css}">

</head>
<body >
<div id="login-form-wrap">
  <h2>Вхід для адміністратора</h2>
  <form id="login-form" th:method="post" th:action="@{/login}">
    <p>
    <input type="text" id="username" name="login" placeholder="Логін" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="email" id="email" name="password" placeholder="Пароль" required><i class="validation"><span></span><span></span></i>

    </p>
    <p>
    <input type="submit" id="login" value="Вхід">
    </p>
  </form>
  <div id="create-account-wrap">
    <a href="#">Забули пароль?</a>
  </div>
</div>

  
</body>
</html>
