<!DOCTYPE html>
<html lang="en" >
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F52EX816KE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-F52EX816KE');
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" th:href="@{/img/main-icon.svg}">
  <meta charset="UTF-8">
  <title>Вхід для адміністратора</title>
  <link rel="stylesheet" th:href="@{/styles/login.css}">

</head>
<body>

<div id="login-form-wrap">
  <h2>Вхід для адміністратора</h2>
  <h3 th:if="errorMessage" th:text="${errorMessage}"></h3>
  <form id="login-form" th:method="post" th:action="@{/login}">
    <p>
    <input type="text"  name="username" placeholder="Логін" required maxlength="255"><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="password" name="password" placeholder="Пароль" required maxlength="255"><i class="validation"><span></span><span></span></i>

    </p>
    <p>
    <input type="submit"  value="Вхід">
    </p>
  </form>
  <div id="create-account-wrap">
    <a href="#">Забули пароль?</a>
  </div>
</div>

  
</body>
</html>
