<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="carousel-item (url, title, text)">
  <img th:src="${url}"  class="d-block w-100 carousel-images"  alt="...">
  <div class="carousel-caption d-none d-md-block">
    <p th:text="${title}" class="quote" style="font-size: 33px"></p>
    <p th:text="${text}" class="quote" style="font-size: 30px"></p>
  </div>
</div>

<div id="carouselExampleControls" style="grid-column-start: 1; border-radius: 10px; margin: 10px" class="carousel slide" data-bs-ride="carousel" th:fragment="main-carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Тарас Шевченко"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Григорій Сковорода"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Володимир Зеленський"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Михайло Грушевський"></button>
    </div>
    <div class="carousel-inner">
        <div th:insert="~{fragments/main/carousel.html :: carousel-item ('/upload/image/64903c63a1ce257259ba542d', 'Тарас Шевченко', 'Нема на світі України, Немає другого Дніпра.')}" class="carousel-item active"></div>
        <div th:insert="~{fragments/main/carousel.html :: carousel-item ('/upload/image/64903dd1a1ce257259ba542e', 'Григорій Сковорода', 'Хто думає про науку, той любить її, а хто її любить, той ніколи не перестає вчитися, хоча б зовні він і здавався бездіяльним.')}" class="carousel-item"></div>
        <div th:insert="~{fragments/main/carousel.html :: carousel-item ('/upload/image/64903e06a1ce257259ba542f', 'Михайло Грушевський', 'Доки народ живе, живе і його мова.')}" class="carousel-item"></div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

</body>
</html>