<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row" id="icons-bar" style="margin-left: 8px" th:fragment="icons-bar">
  <div class="container col nav-img-wrapper">

    <div>
      <a href="/institution/військова адміністрація">
        <img src="/img/main/military_administration.png" class="img-fluid">
        <h2>Військова адміністрація</h2>
      </a>
    </div>

    <div >
      <a href="">
        <img src="/img/main/education.svg" class="img-fluid">
        <h2>Освіта</h2>
      </a>
    </div>

    <div>
      <a href="/institution/медицина">
        <img src="/img/main/medicine.svg" class="img-fluid">
        <h2>Медицина</h2>
      </a>
    </div>

  </div>

  <div class="container col nav-img-wrapper">


    <div>
      <a href="/institution/центр надання адміністративних послуг">
        <img src="/img/main/care.svg" class="img-fluid">
        <h2>Центр надання адміністративних послуг</h2>
      </a>
    </div>

    <div>
      <a href="/institution/фінансовий відділ">
        <img src="/img/main/finance.svg" class="img-fluid">
        <h2>Фінансовий відділ</h2>
      </a>
    </div>

    <div>
      <a href="/institution/культура">
        <img src="/img/main/culture.svg" class="img-fluid">
        <h2>Культура</h2>
      </a>
    </div>
  </div>

</div>

</body>
</html>