<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row mt-5" id="icons-bar" style="margin-left: 8px" th:fragment="icons-bar">
  <div class="container col nav-img-wrapper">
    <div>
      <a href="/institution/центр надання адміністративних послуг">
        <img src="/img/main/administrative_services.png" class="img-fluid">
        <h2>Центр надання адміністративних послуг</h2>
      </a>

    </div>
    <div >
      <a href="">
        <img src="/img/main/documents.png" class="img-fluid">
        <h2>Документи громади</h2>
      </a>
    </div>
    <div>
      <a href="/institution/медицина">
        <img src="/img/main/medicine.png" class="img-fluid">
        <h2>Медицина</h2>
      </a>
    </div>
  </div>

  <div class="container col nav-img-wrapper">
    <div>
      <a href="/institution/культура">
        <img src="/img/main/culture.png" class="img-fluid">
        <h2>Культура</h2>
      </a>
    </div>
    <div>
      <a href="/institution/центр надання адміністративних послуг">
        <img src="/img/main/info.png" class="img-fluid">
        <h2>Важлива інформація</h2>
      </a>
    </div>
    <div>
      <a href="/institution/військова адміністрація">
        <img src="/img/main/military_administration.png" class="img-fluid">
        <h2>Військова адміністрація</h2>
      </a>
    </div>
  </div>

  <div class="text-center nav-img-wrapper">
    <div>
      <a href="">
        <img src="/img/main/leave_question.png" class="img-fluid">
        <h2>Залишити питання</h2>
      </a>
    </div>
  </div>
</div>

</body>
</html>