<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row p-5 " id="icons-bar" th:fragment="icons-bar">
  <div class="container col nav-img-wrapper">
    <div>
      <a href="/установа/центр надання адміністративних послуг">
        <img src="/img/main/administrative_services.png" class="img-fluid">
        <p>Центр надання адміністративних послуг</p>
      </a>

    </div>
    <div >
      <a href="">
        <img src="/img/main/documents.png" class="img-fluid">
        <p>Документи громади</p>
      </a>
    </div>
    <div>
      <a href="/установа/медицина">
        <img src="/img/main/medicine.png" class="img-fluid">
        <p>Медицина</p>
      </a>
    </div>
  </div>

  <div class="container col nav-img-wrapper">
    <div>
      <a href="/установа/культура">
        <img src="/img/main/culture.png" class="img-fluid">
        <p>Культура</p>
      </a>
    </div>
    <div>
      <a href="/установа/центр надання адміністративних послуг">
        <img src="/img/main/info.png" class="img-fluid">
        <p>Важлива інформація</p>
      </a>
    </div>
    <div>
      <a href="/установа/військова адміністрація">
        <img src="/img/main/military_administration.png" class="img-fluid">
        <p>Військова адміністрація</p>
      </a>
    </div>
  </div>

  <div class="text-center nav-img-wrapper">
    <div>
      <a href="">
        <img src="/img/main/leave_question.png" class="img-fluid">
        <h4>Залишити питання</h4>
      </a>
    </div>
  </div>
</div>

</body>
</html>