<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="pagination">
  <div class="mt-5 mb-4 text-center" th:if="${currentPage > 5}">
    <a th:unless="${currentPage < pagesQuantity -5}"
       th:href="@{/news/all(page=${1})}"
       th:text="'1...'"
       class="text-decoration-none text-white h5">
    </a>
    <a th:href="@{/news/all(page=${i})}"
       th:text="${i}"
       th:each="i : ${#numbers.sequence(currentPage - 5,currentPage + 5)}"
       th:if="${i <= pagesQuantity}"
       class="text-dark me-1 page text-decoration-none p-1 h5">
    </a>
    <span th:if="${currentPage < pagesQuantity -5}"  th:text="'...' + ${pagesQuantity}"></span>
    <script>
      let pages = document.getElementsByClassName("page")
      pages.item(6).id = 'current'
    </script>
  </div>

  <div class="mt-5 mb-4 text-center" th:unless="${currentPage > 5}" th:inline="text">
    <a th:href="@{/(page=${i})}"
       th:text="${i}"
       th:each="i : ${#numbers.sequence(1,currentPage + 5)}"
       th:if="${i <= pagesQuantity}"
       class="text-dark me-1 page text-decoration-none p-1 h5">
    </a>
    <span th:if="${currentPage < pagesQuantity -5}" th:text="'...' + ${pagesQuantity}"></span>
    <script th:inline="text">
      let pages = document.getElementsByClassName("page")
      pages.item([[${currentPage}]]).id = 'current'
    </script>
  </div>
</div>

</body>
</html>