<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<pre th:fragment="printTable(employee_list)">
    <table class="table" th:unless="${employee_list.isEmpty() == true}">
        <thead>
        <tr class="table-head" style="font-size: 15px">
            <th>Посада</th>
            <th>Ім'я</th>
            <th>Призвіще</th>
            <th>Телефон</th>
            <th>Робочий email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employee_list}" >
            <th th:text="${employee.position}"></th>
            <th th:text="${employee.first_name}"></th>
            <th th:text="${employee.last_name}"></th>
            <th th:text="${employee.phone_number}"></th>
            <th th:text="${employee.email}"></th>
            <th sec:authorize="hasAuthority('ADMIN')"><button class="btn btn-danger me-2"  th:onclick="'enableFormAndDoGetRequest(\'Ви впевненні що хочете видалити запис\',\'Так, видалити\',\'/administration/employee/' + ${employee.id} + '/delete\',\'null\')'">Видалити запис</button></th>
            <th sec:authorize="hasAuthority('ADMIN')"> <button class="btn btn-info " th:onclick="'enableFormAndInjectAction(\'/administration/employee/' + ${employee.id} + '/update\', \'Оновити\')'">Оновити запис</button></th>
        </tr>

        </tbody>
    </table>
</pre>

</body>
</html>