
#socialLinks {
    justify-content: center;
    display: flex;
    gap: 30px;
}

#socialLinks div {
    display: flex;
    gap: 5px;
    flex-direction: column
}

#socialLinks div img {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 500px) {
    #socialLinks div img {
        width: 185px;
        height: 185px;
    }

    #socialLinks {
        gap: 15px;
    }

    #socialLinks div a {
        padding: 6px;
    }

    #contentWrapper {
        padding: 0;
    }

    #content {
        padding: 10px;
    }
}



#socialLinks div a {
    font-size: 20px;
}

#contentWrapper {
    flex: 1 0 auto;
    justify-content: center;
}


#content {
    padding: 30px;
}