#bannerInContent {
    padding-left: 20px;
    display: none;
}

.banner {
    border-radius: 6px;
    margin: 2px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

#bannerOnRight {
    width: 200px;
}

@media (max-width: 1200px) {
    #bannerOnRight {
        display: none;
    }

    .banner {
        margin: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    #bannerInContent {
        display: block;
    }
}

@media (min-width: 1200px) {
    #content-container {
        margin-right: 0;
    }

    .content {
        max-width: 80%;
    }
}






.bannerBtn {
    padding: 3px 25px 3px 25px;
    font-size: 20px;

    background: hsla(236, 100%, 8%, 1);
    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
}

.bannerBtn:hover {
    text-decoration: none;
    background: hsla(46, 95%, 56%, 1);
    background: linear-gradient(90deg, hsla(46, 95%, 56%, 1) 0%, hsla(350, 97%, 65%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(46, 95%, 56%, 1) 0%, hsla(350, 97%, 65%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(46, 95%, 56%, 1) 0%, hsla(350, 97%, 65%, 1) 100%);
}


