.delete-document {
    position: absolute;
    right: 0;
}

.links {
    font-size: 28px;
    margin: 4px;
    padding: 2px;
    background-color: rgba(216, 215, 215, 0.355);
}

.links a {
    text-decoration: none;
    color: black;
}

#links a:hover {
    background-color: rgba(156, 155, 155, 0.911);
}

.download-icon {
    margin-left: 20px;
}

.download-icon:hover {
    border-radius: 3px;
    background-color: #adb0b2;
}
