.links {
    margin: 4px;
    padding: 2px;
    background-color: rgba(216, 215, 215, 0.355);
}

.links a {
    text-decoration: none;
    color: black;
}

#links a:hover {
    background-color: rgba(156, 155, 155, 0.911);
}

.form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.delete-document {
    position: absolute;
    right: 0;
}