


* {
	margin: 0;
	padding: 0;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}



.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
    border-radius: 3px;
	flex: 1 0 auto;
    background-color: rgba(219, 217, 217, 0.911);
    padding: 0;
}
.footer {
	flex: 0 0 auto;
}

#head {
  padding: 0;
  color: white;
  height: 200px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(128, 128, 128);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {

	background-color: #3b3a3a;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #555; 
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
    background: rgb(190,190,190);
    background: linear-gradient(180deg, rgb(81, 78, 78) 19%, rgba(52,52,64,1) 88%);
  }





#main-title {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 38px;
}

@media screen and (max-width: 400px) {
  .carousel-images {
    height: 300px;
    }
  #main-title {
    position: relative;
    bottom: 25px;
    font-size: 35px;
  }

  #news-wrapper {
    margin-left: 30px !important;
  }
}

  @media screen and (max-width: 900px) {
    #icon {
      display: none;
    }



    #head {
      height: 270px;
    }
  }

.form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.link {
  text-decoration: none;
  display: block;
  color: rgb(21, 21, 19);
  margin-top: 10px;
}

.link:hover {
  color: #634db2;
}


#current {
  padding: 3px;
  background-color: rgba(0, 0, 255, 0.18);
  border-radius: 3px;
}

.svg {
  transition-duration: 160ms;
}
.svg:hover {
  padding: 6px;
}

@media screen and (max-width: 1300px) {
  .nav-img-wrapper div a img {
    width: 120px;
    height: 120px;
  }


}

.nav-img-wrapper div {
  text-align: center;
  width: 80%;
}

.nav-img-wrapper div a {
  text-decoration: none;
  color: #2a2a2a;
}

.nav-img-wrapper div a:hover {
  color: #6161a6;
}

.nav-img-wrapper div a img {
  width: 90px;
  height: 90px;
}

.nav-img-wrapper div a p {
  font-size: 16px;
  font-palette: dark;
  font-style: italic;
  font-weight: bolder;
}

.arrows {
  width: 25px;
  height: 25px;
  position: absolute;
  left: -25px;
}

.table-head {
  background-color: rgba(216, 215, 215, 0.355);
}

.documents li {
  text-decoration: none;
}


#edit_icon {
  position: relative;

}

#edit_icon:hover {
  cursor: pointer;
  width: 32px;
  height: 32px;
}


#news-wrapper {
  margin-left: 55px;
}

.new-img {
  border-radius: 3px;
  width: 290px;
  height: 180px;
}

.news-description {
  font-size: 22px;
}

