


* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 110%;
  font-family: 'Montserrat', sans-serif;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

#head {
  color: white;
  height: 200px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #94bbe9;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #94bbe9;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {

    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #707070;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #555; 
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
    background: rgb(190,190,190);
    background: linear-gradient(180deg, rgb(81, 78, 78) 19%, rgba(52,52,64,1) 88%);
  }



  #nav a {
    text-decoration: none;
    display: block;
    color: rgb(21, 21, 19);
    margin-top: 10px;
    
  }

#news-wrapper {
  margin: 0 10px 0 30px;
}

  #nav a:hover {
    color: #634db2;
  }


  @media screen and (max-width: 900px) {
    #icon {
      display: none;
    }

    #news-wrapper {
      margin: 0 10px 0 20px;
    }

    #head {
      height: 270px;
    }
  }

.form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.link {
  text-decoration: none;
  color: black;
}

#current {
  padding: 3px;
  background-color: rgba(0, 0, 255, 0.18);
  border-radius: 3px;
}

.svg {
  transition-duration: 160ms;
}
.svg:hover {
  padding: 6px;
}

@media screen and (max-width: 1300px) {
  .nav-img-wrapper div a img {
    width: 120px;
    height: 120px;
  }


}

.nav-img-wrapper div {
  text-align: center;
  width: 80%;
}

.nav-img-wrapper div a {
  text-decoration: none;
  color: #2a2a2a;
}

.nav-img-wrapper div a:hover {
  color: #6161a6;
}

.nav-img-wrapper div a img {
  width: 90px;
  height: 90px;
}

.nav-img-wrapper div a p {
  font-size: 16px;
  font-palette: dark;
  font-style: italic;
  font-weight: bolder;
}

.arrows {
  width: 25px;
  height: 25px;
  position: absolute;
  left: -25px;
}


