.dropbtn {
    margin-top: 5px;
    border-radius: 3px;
    background-color: #0000004c;
    color: white;
    padding: 12px;
    font-size: 26px;
    border: none;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 26px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 100; !important;
}

.dropdown-content a:hover {
    background-color: #bbccc6;
}

.nav-item:hover {
    color: white; !important;
    background-color: #000000a3;
}

#head_wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

#main_icon {
    width: 200px;
    height: 200px;
}

#main-title-wrapper {
    text-align: center;
    margin-right: 10%;
}

@media screen and (max-width: 700px) {
    #main-title {
        font-size: 32px;
    }

    #main_icon {
        width: 120px;
        height: 120px;
    }

    #main-title-wrapper {
        margin: 0;
    }
}

