


* {
	margin: 0;
	padding: 0;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Gabriola', serif;
}

.background-dark {
  background-color: rgb(0 0 0 / 5%);
}

.breadcrumb-item{
  font-size: 23px;
}



.background-blue-gradient {
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.content {
    border-radius: 15px;
    flex: 1 0 auto;
    background-color: rgb(233 233 233 / 83%);
    padding: 0;
}
.footer {
	flex: 0 0 auto;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgb(233 233 233 / 83%);
  }

::-webkit-scrollbar-thumb:horizontal{
  color: #2a2a2a;
}

  /* Handle */
  ::-webkit-scrollbar-thumb {
    height: 2px;
	background-color: #3b3a3a;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #555;
  }

.inst-title {
    display: inline-block;

    text-transform: lowercase
}

.inst-title::first-letter {
  text-transform: uppercase
}

#main-title {
  text-decoration: none;
  color: white;
  font-size: 46px;
}

@media screen and (max-width: 400px) {
  .carousel-images {
    height: 300px;
    }
}

  @media screen and (max-width: 900px) {

    #content-container {
      display: block !important
    }

    .dropdown {
      font-size: 20px;
    }

    .dropdown-content a {
      font-size: 20px;
    }

    .link  {
      font-size: 24px;
    }

    .news {
      padding: 5px;
    }

    #icon {
      display: none;
    }

  }

.form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.link {
  text-decoration: none;
  display: block;
  font-size: 30px;
  color: rgb(21, 21, 19);
  margin-top: 10px;
}

.link:hover {
  color: #634db2;
}



.svg {
  transition-duration: 160ms;
}
.svg:hover {
  padding: 6px;
}

@media screen and (max-width: 1300px) {
  .nav-img-wrapper div a img {
    width: 120px;
    height: 120px;
  }


}

.nav-img-wrapper div {
  margin-bottom: 48px;
  text-align: center;
  width: 80%;
}

.nav-img-wrapper div a {
  text-decoration: none;
  color: #2a2a2a;
}

.nav-img-wrapper div a:hover {
  color: #6161a6;
}

.nav-img-wrapper div a img {
  width: 90px;
  height: 90px;
}

.nav-img-wrapper div a h2 {
  font-size: 17px;
  font-style: italic;
  font-weight: bolder;
}

.arrows {
  width: 20px;
  height: 20px;
}

.table-head {
  background-color: rgba(216, 215, 215, 0.355);
}

.documents li {
  text-decoration: none;
}


.editable {
  transition-duration: 160ms;
  display: none;
  bottom: 15px;
  position: relative;

}

.editable:hover {
  cursor: pointer;
  width: 32px;
  height: 32px;
}




.new-img {
  border-radius: 3px;
  width: 290px;
  height: 180px;
}

.news-description {
  font-size: 30px;
  line-height: 33px;
}


.quote {
  text-shadow: 0 0 30px #000000,
  0 0 29px #000000,
  0 0 1.8px #000000,
  0 0 30px #000000,
  0 0 28px #171717,
  0 0 3.6px #020101,
  0 0 30px #000000,
  0 0 29px #000000,
  0 0 6px #000000;
}

.table-items-wrapper th {
  white-space: normal;
}

.accordion-button {
  font-size: 33px;
}

#news-container {
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: end;
}

@media screen and (max-width: 600px) {
  #news-container {
    grid-row-gap: 15px;
  }
}

#content-container {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.admin-btn {
  font-size: 22px;
}

.formLabel {
  font-size: 25px;
  margin: 10px 0 0 0;
}

.fields {
  border-radius: 5px;
  background-color: #00000080;
  padding: 10px;
  color: white
}

.modalWrapper {
  display: flex;
  height: 90%;
  width: 100%;
  top: 20px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.tableData td {
  white-space: pre-wrap;
}

.tr th {
  font-weight: normal;
}

.accordion-body {
  padding: 5px; !important;
}

@media screen and (min-width: 900px) {
  .modalInput {
    min-width: 700px;
  }

  .modalWrapper {
    top: 0;
  }
}


#accordionFlushExample {
  margin: 10px;
}